// .history-box{
//       background-color: #7878CC;
//       border-radius: 10px;
//       width: 70%;
//       display: table;
//       margin: 0 auto;
//       vertical-align: center;
//       padding: 10px;
